@font-face {
  font-family: 'YoziNeue-Medium';
  src: url('../fonts/YoziNeue-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/YoziNeue-Medium.woff') format('woff'), 
  url('../fonts/YoziNeue-Medium.ttf')  format('truetype'), 
  url('../fonts/YoziNeue-Medium.svg#YoziNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'YoziNeue-Mono';
  src: url('../fonts/YoziNeue-Mono.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/YoziNeue-Mono.woff') format('woff'), 
  url('../fonts/YoziNeue-Mono.ttf')  format('truetype'), 
  url('../fonts/YoziNeue-Mono.svg#YoziNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miller-Display';
  src: url('../fonts/Miller-Display.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Miller-Display.otf')  format('opentype'),
       url('../fonts/Miller-Display.woff') format('woff'), 
       url('../fonts/Miller-Display.ttf')  format('truetype'), 
       url('../fonts/Miller-Display.svg#Miller-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
