/*
*  Responsive
*/
@media (min-width: 992px){
    .md-clearfix {
        clear: both;
    }
    div.product.first:not(.col-md-cl-5){
        clear: both;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .details-product.layout-v1 {
        .times > div + div{
            @include rtl-margin-left(3px);
        }
        .times > div{
            min-width: 40px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    div.product.col-sm-6:nth-child(2n + 1),
    .sm-clearfix{
        clear: both;
    } 
}
@media (max-width: 1199px){
    // md
    .widget-action-box .description{
        margin:0 0 10px;
        font-size: 11px; 
    }
    // fix header 2
    .header-v2 .header-2-right{
        border:none;
    }
    .header-v3 {
        .navbar-nav.megamenu > li{
            @include rtl-margin-right(15px);
            &:last-child{
                margin:0;
            }
        }
    }
}
@media(min-width: 1200px) and (max-width:1800px){
    .woocommerce .groups-button a.button{
        padding-left: 12px !important;
        padding-right: 12px !important;
        &.product_type_variable{
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    }
    .product-block.grid .groups-button{
        padding-left:5px;
        padding-right:5px;
    }
}
@media(min-width: 1400px) and (max-width:1700px){
    .widget-banner .more{
        margin-top: 8px;
    }
    .widget-banner.medium .infor .info-inner{
        font-size: 25px;
    }
    .service-item .des{
        font-size: 12px;
    }
    .service-item{
        padding:12px;
    }
    .shop-list-small{
        padding:15px;
        .price{
            font-size: 14px !important;
        }
    }
    .shop-list-smallest .content-left{
        width: 80px;
        @include rtl-padding-right(10px);
    }
    .shop-list-small .name{
        font-size: 13px;
    }
}
@media(min-width: 1200px) and (max-width:1500px){
    .widget-banner .infor{
        @include rtl-base-toprightbottomleft(padding,10px,0,10px,10px);
    }
    .widget-banner .info-inner{
        font-size: 18px;
    }
    // banner large
    .widget-banner.medium .infor{
        @include rtl-padding-left(10px);
    }
    .widget-banner.medium .infor .info-inner{
        font-size: 22px;
        line-height: 28px;
    }
    .product-block.grid-deal .times > div{
        min-width: 30px;
        span{
            font-size: 14px;
            line-height: 35px;
        }
    }
    .product-block.grid-deal .times > div + div{
        @include rtl-margin-left(2px);
    }
    .product-block.grid-deal .info_sold > div{
        width: 100%;
    }
    // fix for sidebar
    .sidebar{
        .woocommerce ul.product_list_widget li{
            padding:10px;
            .left-content{
                width: 70px;
                @include rtl-padding-right(10px);
            }
        }
    }
}
@media(max-width:1500px){
    // laptop 
    .vertical-wrapper .title-vertical{
        padding:12px;
        .show-down{
            display: none;
        }
    }
    .apus-vertical-menu{
        padding:12px 0;
    }
    .apus-vertical-menu > li > a{
        padding:0 8px;
        line-height: 30px;
        font-size: 13px;
    }
    .header-v2{
        .apus-vertical-menu > li > a{
            line-height: 40px;
            padding:0 20px;
        }
    }
    .apus-vertical-menu > li > a > i, .apus-vertical-menu > li > a > img{
        @include rtl-margin-right(3px);
    }
    .apus-vertical-menu > li > a .caret{
        margin-top: 13px;
    }
    .apus-header .header-order{
        margin-top: -3px;
        @include rtl-margin-right(10px);
        .text-track{
            display: none;
        }
        i{
            font-size: 25px;
            margin:0;
        }
    }
    .shop-list-smallest .content-left{
        width: 80px;
        @include rtl-padding-right(10px);
    }
    .shop-list-smallest .name{
        font-size: 12px;
    }
    .service-item{
        padding:15px 11px 12px;
    }
    .service-item .title{
        font-size: 14px;
    }
    .product-block.grid .groups-button{
        padding:20px 0;
    }
    .shop-list-smallest{
        padding:15px;
    }
    .product-categories{
        padding:15px;
        font-size: 13px;
    }
    // detail
    .details-product.layout-v2 .wrapper-thumbs,
    .details-product.layout-v1 .wrapper-thumbs{
        width: 115px;
        @include rtl-padding-right(20px);
    }
    .details-product.layout-v1 .apus-woocommerce-product-gallery-wrapper,
    .details-product.layout-v2 .apus-woocommerce-product-gallery-wrapper{
        width: calc(100% - 115px);
    }
    .details-product .summary-right{
        @include rtl-padding-left(20px);
    }
    .details-product .summary-left{
        @include rtl-padding-right(20px);
    }
    .details-product .product-free-gift,
    .details-product .apus-discounts{
        padding:10px;
    }
    .details-product.layout-v1 .thumbnails-right .wrapper-thumbs, 
    .details-product.layout-v2 .thumbnails-right .wrapper-thumbs{
        @include rtl-base-toprightbottomleft(padding,0,0,0,10px);
    }
}
@media(max-width: 1300px){
     // back to top
    .add-fix-top{
        bottom:10px;
        @include rtl-right(10px);
        @include size(35px,35px);
        line-height: 30px;
        i{
            font-size: 25px;
        }
    }
    .vertical-wrapper .title-vertical{
        padding:7px 3px;
    }
    .widget-newletter .title{
        font-size: 25px;
    }
    .service-item .title{
        font-size: 14px;
    }
    .product-block.grid-deal .metas {
        padding: 5px 0;
    }
    .widget-banner .more{
        margin-top: 10px;
    }
    .shop-list-smallest .name,
    .shop-list-small .name{
        font-size: 12px;
    }
}
@media(min-width: 1200px) and (max-width: 1400px){
    .shop-list-smallest .content-left{
        width: 60px;
    }
    .widget-banner .info-inner{
        line-height: 1.2;
    }
    .widget-banner .infor{
        width: 80%;
    }
    .widget-blogs.carousel article.post{
        padding:10px;
    }
    .service-item .title {
        font-size: 13px;
    }
    .service-item .des {
        font-size: 12px;
    }
}
@media (max-width:1199px){
    // fix for header
    .apus-header{
        .title-vertical{
            padding:0;
            background: transparent;
            i{
                color: $theme-color;
                font-size: 25px;
                margin-top: 10px;
            }
            .show-down,
            .text-title{
                display: none;
            }
        }
        .content-vertical{
            min-width: 200px;
        }
    }
    body.home .apus-header .vertical-wrapper .content-vertical{
        display: none;
    }
    .mini-cart, .wishlist-icon{
        padding:0 7px;
    }
    .widget-social .social > li{
        @include rtl-margin-right(5px);
        &:last-child{
            margin:0;
        }
    }
    .widget-newletter{
        .btn{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    // fix for images product
    .product-block .image img{
        width: 100%;
    }
    // single product
    .details-product .apus-woocommerce-product-gallery-wrapper{
        padding:10px;
    }
    .details-product .information .product_meta{
        margin-top: 15px;
        padding-top:15px;
    }
    .woocommerce div.product .product_title{
        font-size: 20px;
        margin-bottom: 15px;
    }
    // banner big
    .widget-banner.banner-medium,
    .widget-banner.banner-big{
        .title{
            font-size: 33px;
        }
        .info-inner{
            font-size: 25px;
        }
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    // md
    .widget-banner.medium .infor{
        @include rtl-base-toprightbottomleft(padding,10px,0,10px,10px);
    }
    .woocommerce .groups-button a.button{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    // single product
    .details-product.layout-v1 .wrapper-thumbs,
    .details-product.layout-v2 .wrapper-thumbs{
        width: 90px;
    }
    .details-product.layout-v1 .apus-woocommerce-product-gallery-wrapper,
    .details-product.layout-v2 .apus-woocommerce-product-gallery-wrapper{
        width: calc(100% - 90px);
    }
}
@media(min-width: 991px) and (max-width: 1199px){
    div.product.col-md-cl-5:nth-child(4n + 1){
        clear: both;
    }
    .product-block.grid-deal .times > div{
        min-width: 30px;
    }
}
@media (max-width: $screen-sm-max){
    // logo 991px
    .comment-list .children{
        @include rtl-padding-left(30px);
    }
    .product-block.grid .metas{
        border-color:$border-color;
    }
    .woocommerce.carousel.inner, .woocommerce.carousel.item-grid{
        padding-bottom: 50px;
    }
    // countdown
    .banner-countdown-widget .times > div{
        margin: 0 5px;
    }
    .banner-countdown-widget .title{
        font-size: 20px;
    }
    .banner-countdown-widget .times{
        margin-bottom: 20px;
    }
    .banner-countdown-widget .des{
        margin-bottom: 10px;
    }
    // banner big
    .widget-banner.banner-medium,
    .widget-banner.banner-big{
        height: 200px;
        overflow: hidden;
        background:#e1e1e1;
        > a{
            height:100%;
            display: block;
        }
        .image-wrapper{
            outline-offset:-20px;
            height: 100%;
        }
        .title{
            font-size: 28px;
        }
        .info-inner{
            font-size: 20px;
        }
    }
    // archive product
    .product-block-list{
        padding:20px;
        .name{
            font-size: 18px;
        }
        .price{
            ins{
                font-size: 14px;
            }
            font-size: 14px !important;
        }
    }
    .product-block-list .caption-buttons{
        @include rtl-padding-left(10px);
    }
    // single detail
    .details-product .information{
        margin-top: 15px;
    }
    .woocommerce table.wishlist_table td{
        padding: 15px !important;
    }
    // quickview
    .apus-quickview .mfp-inline-holder .mfp-content .wrapper-img-main::before{
        display: none;
    }
    .apus-quickview .mfp-inline-holder .mfp-content .wrapper-img-main{
        padding:20px 20px 0;
    }
    .apus-quickview .mfp-inline-holder .mfp-content .information{
        padding:10px 20px;
        margin:0;
    }
    .apus-footer-mobile{
        display: block;
    }
    body{
        padding-bottom:70px;
    }
    #back-to-top{
        @include opacity(0.8);
        bottom:70px;
        &:hover,&:focus{
            @include opacity(1);
        }
    }
    // style for block products
    .product-block.grid .grid-inner{
        padding:0 10px;
    }
    .woocommerce .groups-button .added_to_cart,
    .woocommerce .groups-button a.button{
        padding: 0px !important;
        @include size(40px,40px);
        overflow: hidden;
        text-indent: -9999em;
        position: relative;
        &:before{
            content: "\e60d";
            font-family: 'themify';
            @include size(40px,40px);
            position: absolute;
            top: -2px;
            left: -2px;
            text-indent: 0;
            font-size: 15px;
            line-height: 37px;
            z-index: 1;
            background: transparent;
        }
    }
    .quickview.btn-block{
        padding-left: 0;
        padding-right: 0;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    div.product.col-md-cl-5:nth-child(3n + 1){
        clear: both;
    }
    .woocommerce .groups-button a.button{
        padding-left: 11px !important;
        padding-right: 11px !important;
    }
}
@media (max-width:768px) {
    .hidden-768{
        display: none;
    }
}
@media (max-width:767px) {
    // fix gutter
    @include make-grid-mobile-columns();
    .container,
    .container-fluid{
        @include container-mobile-fixed();
    }
    .row{
        @include make-mobile-row();
    }
    .vc_row{
        margin-left:-5px;
        margin-right:-5px;
    }
    .vc_column_container > .vc_column-inner{
        padding-left:5px;
        padding-right:5px;
    }
    .widget-products-tabs .hierarchy{
        position: static;
        margin-top: -10px;
    }
    .slick-carousel{
        margin-left: -5px;
        margin-right: -5px;
        .slick-slide{
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .widget-categorybanner .title{
        font-size: 13px;
    }
    .comment-list .children{
        @include rtl-padding-left(15px);
    }
    .comment-list div.avatar{
        min-width: 70px;
        @include rtl-padding-right(10px);
    }
    .comment-list .the-comment .comment-box{
        @include rtl-padding-left(10px);
    }
    .comment-list img.avatar{
        @include size(60px,60px);
    }
    .comment-list .comment-box{
        @include rtl-padding-left(10px);
    }
    .apus-breadscrumb .bread-title{
        font-size: 20px;
    }
    // tab for product
    .nav-tabs{
        overflow: auto;
        white-space: nowrap;
        li{
            float: none;
            display: inline-block;
            margin-bottom: 10px;
        }
    }
    .banner-countdown-widget .times > div span{
        font-size: 20px;
    }
    .banner-countdown-widget .times > div{
        min-width: 40px;
    }
    .banner-countdown-widget{
        padding-bottom: 20px;
    }
    .product-block-list{
        padding:10px;
        .btn-compare,
        .add-cart a.button{
            padding: 7px;
            font-size: 12px;
        }
        .product-excerpt{
            display: none;
        }
        .name{
            font-size: 14px;
        }
        .wrapper-info{
            padding:0 10px;
        }
    }
    // filter product
    .apus-filter .woocommerce-ordering{
        @include rtl-float-left();
    }
    .apus-after-loop-shop .apus-pagination{
        width: 100%;
        margin-bottom: 10px;
    }
    .apus-after-loop-shop .form-yozi-ppp{
        margin:0;
    }
    .apus-after-loop-shop .form-yozi-ppp, .apus-after-loop-shop .woocommerce-result-count{
        @include rtl-float-left();
    }
    .product-block-list.list-v1{
        padding:10px;
    }
    .tabs-v1 .nav-tabs{
        margin-bottom: -10px;
        display: block;
        li{
            display: inline-block;
            margin-bottom: 10px;
        }
    }
    .details-product .apus-social-share a{
        @include rtl-margin-right(10px);
    }
    // blog
    .layout-posts-list{
        .image{
            width: 220px;
            @include rtl-padding-right(20px);
        }
        .entry-title{
            font-size: 18px;
        }
    }
    .layout-blog{
        .row > .col-xs-6:nth-child(2n + 1){
            clear:both;
        }
    }
    // check out
    .apus-checkout-step ul li{
        width: 100%;
        margin: 0 0 10px;
        &:before{
            display:none;
        }
        .inner:before,
        .inner:after{
            display: none;
        }
    }
    .widget-banner.medium .info-inner{
        font-size: 22px;
    }
    .widget-banner.medium .infor{
        padding:15px;
    }
    // detail
    .details-product.layout-v2 .wrapper-thumbs,
    .details-product.layout-v1 .wrapper-thumbs{
        width: 75px;
        @include rtl-padding-right(10px);
    }
    .details-product.layout-v2 .apus-woocommerce-product-gallery-wrappe,
    .details-product.layout-v1 .apus-woocommerce-product-gallery-wrapper{
        width: calc(100% - 75px);
    }
    // archive product
    .form-yozi-ppp{
        @include rtl-margin-left(10px);
    }
    .apus-filter .form-yozi-ppp .yozi-wc-wppp-select{
        min-width:120px;
    }
    .apus-filter select{
        padding:3px;
    }
    .wrapper-fillter{
        overflow-x: scroll;
        padding-bottom:7px;
        margin-bottom:20px;
        .apus-filter{
            @include rtl-margin-left(-5px);
        }
    }
    .apus-filter{
        display: table;
        border-spacing: 2px;
        margin-bottom:0px;
        > *{
            margin:0;
            vertical-align: middle;
            float: none !important;
            display: table-cell;
        }
        .display-mode{
            white-space:nowrap;

        }
    }
    .apus-filter .change-view + .change-view{
        @include rtl-margin-left(10px);
    }
    // fix slick for mobile
    #apus-main-content{
        overflow: hidden;
    }
    .widget-products-deal{
        .product-block.grid{
            margin-bottom:20px;
        }
    }
    .shop-list-small .content-left{
        width:80px;
        @include rtl-padding-right(10px);
    }
    .product-block .product-cats{
        font-size: 10px;
    }
}
@media (max-width: 600px) {
    .product-block-list{
        padding:0 0 10px;
        border:0;
        display: block;
        .wrapper-info,
        .wrapper-image{
            display: block;
            width:50%;
            @include rtl-float-left();
            border:none;
        }
        .caption-buttons{
            width: 100%;
            float: none;
            overflow: hidden;
            clear: both;
            padding:0;
        }
        .quick-view{
            display: none;
        }
    }
    .product-block-list.list-v1 > div{
        width: 100% !important;
    }
    // blog
    .layout-posts-list{
        .image{
            width: 120px;
        }
        .btn ,
        .description,
        .entry-meta{
            display: none;
        }
    }
    .post-grid-v2{
        .entry-title{
            font-size: 15px;
        }
        .entry-content {
            display: none;
        }
    }
    //apus-after-loop-shop
    .apus-after-loop-shop{
        .apus-pagination{
            overflow-x:scroll;
            padding-bottom:8px;
            .page-numbers{
                display: table;
                width: 100%;
                li{
                    display: table-cell !important;
                    padding:0 2px;
                    text-align: center;
                }
            }
        }
    }
    // fix map
    .widget-googlemap .apus-google-map{
        max-height:300px !important;
    }
}
@media (max-width: $screen-phone) {
    // 480px
    .woocommerce.carousel.inner, .woocommerce.carousel.item-grid {
        padding-bottom: 50px;
    }
    .product-block.grid {
        margin-bottom: 14px;
        .name{
            font-size: 12px;
        }
    }
    .widget-banner .info-inner{
        font-size: 16px;
        line-height: 1.3;
    }
    .active-mobile{
        .active-content{
            position:fixed;
            top:45px;
            left: 0;
        }
    }
    // fix for btn banner imga
    .widget-banner .infor{
        width: 100%;
        padding:5px;
    }
    .widget-banner{
        .btn{
            padding:2px 15px;
        }
    }
    #tabs-list-seller{
        > h2{
            font-size: 20px;
        }
    }
    .woocommerce #reviews #comments ol.commentlist li img.avatar{
        @include size(60px,60px);
    }
    .woocommerce #reviews #comments ol.commentlist li .apus-avata{
        min-width: 70px;
        @include rtl-padding-right(10px);
    }
    .woocommerce #reviews #comments ol.commentlist li .comment-text{
        @include rtl-padding-left(10px);
    }
    .tabs-v1 .tab-content > div{
        padding:10px;
    }
    // single post
    .detail-post .top-info .entry-title{
        font-size: 20px;
    }
    .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
        width: 100%;
        margin: 0 0 15px;
    }
    // check out
    .coupon{
        > *{
            width: 100% !important;
            margin: 0 0 5px !important;
        }
    }
    .header-mobile{
        .wishlist-icon,
        .mini-cart{
            i{
                font-size: 18px;
            }
        }
    }
}
@media(max-width: 479px){
    .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > *,
    .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > .select2-container, .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > select, .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > input{
        width: 100% !important;
        margin: 0 0 5px !important;
    }
    // cart mobile
    .apus-topcart .dropdown-menu{
        padding:20px;
        min-width: 280px;
    }
    //banner
    .widget-banner .title{
        font-size: 12px;
        margin: 0;
    }
    .widget.widget-products-deal{
        margin-bottom: 0;
    }
    .slick-carousel .slick-arrow{
        @include opacity(0.7);
        &:hover,&:focus{
            @include opacity(1);
        }
    }
    .nav-tabs.style_center{
        margin-bottom:10px;
    }
    .widget-text-heading.normal_center .title{
        font-size: 25px;
    }
    // banner big
    .widget-banner.banner-medium,
    .widget-banner.banner-big{
        height: 150px;
    }
}
// footer mobile
.apus-footer-mobile{
    position:fixed;
    z-index: 999;
    background:rgba(255,255,255,0.9);
    padding:10px 20px;
    bottom:0;
    left:0;
    width:100%;
    @include box-shadow(0 0 1px 0 rgba(0,0,0,0.2));
    .footer-search-mobile{
        position:absolute;
        z-index: 999;
        left: 0;
        top:-40px;
        width: 100%;
        @include opacity(0);
        visibility: hidden;
        @include transition(all 0.2s ease-in-out 0s);
        &.active{
            visibility: visible;
            @include opacity(1);
        }
    }
    > ul{
        padding:0;
        margin:0;
        list-style:none;
        width:100%;
        text-align:center;
        > li{
            text-transform: uppercase;
            display: inline-block;
            width: 19%;
            text-align: center;
            position:relative;
            span{
                display: block;
                font-size: 9px;
                line-height: 1;
            }
            .wrapper-morelink{
                @include opacity(0);
                visibility: hidden;
                position:absolute;
                right:0;
                bottom:40px;
                padding:20px;
                background:#fff;
                @include box-shadow(0 0 4px 0 rgba(0,0,0,0.1));
                .footer-morelink{
                    list-style:none;
                    padding:0;
                    margin:0;
                    font-size: 10px;
                }
                li{
                    padding:3px 0;
                    white-space: nowrap;
                    display: block;
                    width: 100%;
                    @include rtl-text-align-left();
                }
                &.active{
                    visibility: visible;
                    @include opacity(1);
                }
            }
        }
    }
    .mini-cart i{
        font-size: 17px;
    }
    .mini-cart .count{
        top:2px;
    }
    .apus-search-form{
        min-width: 300px;
        .select-category{
          display: none;
        }
        form{
            border:none;
            .form-control{
                border:1px solid $border-color;
            }
        }
    }
}